#new-post{
    border-style: ridge;
    display: none;
    margin: 0 auto;
    padding: 20%;
}
#form-new-post{

    display:none;
    margin: 10%;
    
    
}
.post-list{
    border-style: ridge;
    margin:3px;
    padding: 4px;
    width: 85%;
    margin-left: 20px;
}

.post-timestamp{
    color: rgb(162, 165, 162);
}
.post-content{
    margin-bottom: 3px;
}
.profile-user{
    border-style: ridge;
    padding: 4px;
    width: 85%;
    margin-left: 20px;
}

#edit-content{
    
    columns: 2;
    padding: 4px;
    width: 65%;
    margin-left: 40px;
}

#edit-submit{
    
    padding: 4px;
    font-size: 40%;
    margin-left: 40px;
}

.edit_content{
    display: none;
}